
@{
    ViewBag.Title = "Index_home";
}
@Styles.Render("~/Content/imdb_home.css")


<h2>Index_home</h2>

<div class="container">

    <div class="header">
        <h1>Welcome to Tasaly Flex</h1>
    </div>
    <div class="paragraph">
        <p>
            Welcome you to our website.
            Tasaly Flex helps you to find out movies are highly rated
            by people from all over the world.
        </p>
        <p>
            <h2>Scroll to watch movies </h2>
        </p>
    </div>

    <!----------movies-------------------->
    <div class="movies">
        <div class="header">
            <h2>Movies</h2>
        </div>

        <div class="slider">

            <div id="card_slider">
                <div id="card_track">
                    <a href="  ">
                        <div class="subject_card">
                            @Html.Partial("movieCard")
                        </div>
                    </a>
                    <a href="  ">
                        <div class="subject_card">
                            @Html.Partial("movieCard")
                        </div>
                    </a>
                    <a href="  ">
                        <div class="subject_card">
                            @Html.Partial("movieCard")
                        </div>
                    </a>
                    <a href="  ">
                        <div class="subject_card">
                            @Html.Partial("movieCard")
                        </div>
                    </a>
                    <a href="  ">
                        <div class="subject_card">
                            @Html.Partial("movieCard")
                        </div>
                    </a>
                    <a href="  ">
                        <div class="subject_card">
                            @Html.Partial("movieCard")
                        </div>
                    </a>
                    <a href="  ">
                        <div class="subject_card">
                            @Html.Partial("movieCard")
                        </div>
                    </a>
                    <a href="  ">
                        <div class="subject_card">
                            @Html.Partial("movieCard")
                        </div>
                    </a>
                    <a href="  ">
                        <div class="subject_card">
                            @Html.Partial("movieCard")
                        </div>
                    </a>
                    <a href="  ">
                        <div class="subject_card">
                            @Html.Partial("movieCard")
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>


    <!------------------Directors----------------->
    <div class="actor">

        <div class="header">
            <h2> Actor</h2>
        </div>
        <div class="actor_profile">
            <div id="card_slider">
                <div id="card_track">
                    <a href="  ">
                        <div class="subject_card">
                            @Html.Partial("profile_card")
                        </div>
                    </a>
                    <a href="  ">
                        <div class="subject_card">
                            @Html.Partial("profile_card")
                        </div>
                    </a>
                    <a href="  ">
                        <div class="subject_card">
                            @Html.Partial("profile_card")
                        </div>
                    </a>
                    <a href="  ">
                        <div class="subject_card">
                            @Html.Partial("profile_card")
                        </div>
                    </a>
                    <a href="  ">
                        <div class="subject_card">
                            @Html.Partial("profile_card")
                        </div>
                    </a>
                    <a href="  ">
                        <div class="subject_card">
                            @Html.Partial("profile_card")
                        </div>
                    </a>
                    <a href="  ">
                        <div class="subject_card">
                            @Html.Partial("profile_card")
                        </div>
                    </a>
                    <a href="  ">
                        <div class="subject_card">
                            @Html.Partial("profile_card")
                        </div>
                    </a>
                    <a href="  ">
                        <div class="subject_card">
                            @Html.Partial("profile_card")
                        </div>
                    </a>
                    <a href="  ">
                        <div class="subject_card">
                            @Html.Partial("profile_card")
                        </div>
                    </a>
                    <a href="  ">
                        <div class="subject_card">
                            @Html.Partial("profile_card")
                        </div>
                    </a>

                </div>
            </div>
        </div>
    </div>


    <!---------------------actors-------------------------->
    <div class="actor">

        <div class="header">
            <h2> Actor</h2>
        </div>
        <div class="actor_profile">
            <div id="card_slider">
                <div id="card_track">
                    <a href="  ">
                        <div class="subject_card">
                            @Html.Partial("profile_card")
                        </div>
                    </a>
                    <a href="  ">
                        <div class="subject_card">
                            @Html.Partial("profile_card")
                        </div>
                    </a>
                    <a href="  ">
                        <div class="subject_card">
                            @Html.Partial("profile_card")
                        </div>
                    </a>
                    <a href="  ">
                        <div class="subject_card">
                            @Html.Partial("profile_card")
                        </div>
                    </a>
                    <a href="  ">
                        <div class="subject_card">
                            @Html.Partial("profile_card")
                        </div>
                    </a>
                    <a href="  ">
                        <div class="subject_card">
                            @Html.Partial("profile_card")
                        </div>
                    </a>
                    <a href="  ">
                        <div class="subject_card">
                            @Html.Partial("profile_card")
                        </div>
                    </a>
                    <a href="  ">
                        <div class="subject_card">
                            @Html.Partial("profile_card")
                        </div>
                    </a>
                    <a href="  ">
                        <div class="subject_card">
                            @Html.Partial("profile_card")
                        </div>
                    </a>
                    <a href="  ">
                        <div class="subject_card">
                            @Html.Partial("profile_card")
                        </div>
                    </a>
                    <a href="  ">
                        <div class="subject_card">
                            @Html.Partial("profile_card")
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>



</div>

